<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>     
                  <li class="menu-item"><a href="https://www.codecademy.com/profiles/Hlessirah" target="_blank" ><img class="cwlogo" src="codecademy-icon-sm.png" alt="codecademy" /></a></li>                    

              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytexttwo">
                <h1>National LARP Organization Site</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About This Project:</h1>
                
                <div id="projects" class="frames-inside">
                    <div class="frame" id="bio">
                        <img src="frame1.png" alt="golden frame" style="width:100%;">
                        <div class="frame-contents">
                            <a href="https://alliance-frontend.onrender.com/" target="_blank">
                                <div id="contentsfour" class="contents">
                                <h2>National LARP Organization Site</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <p class="aboutme">After my previous personality quiz project was brought to their attention, the organizers of the Alliance National LARP organization contracted me to work on their website redesign efforts.<br><br>
                    Their old website was outdated and needed a replacement, focusing on a more modern look, updated content, and exciting new features. The eventual goal is to not only have a new look, but eventual integration with their Character Management Application, which would allow players and organizers to better manage their in-game resources in one convenient site.<br><br>
                    For the design, I expanded upon the style established in the quiz website for a simple layout using eye-catching backgrounds for a unique feel. Continued use of Tailwind styling allowed for quick styling changes using Daisy UI elements. TSX allowed for the use of custom components, which help to simplify and standardize code, particularly when writing segments containing text and cards containing important information, such as game site information and descriptions of in-game rules and regulations. For a fun touch of interactivity, the personality quiz remains a feature of the site, as well as a switch to toggle between two color schemes.<br><br>
                    This project is more team-oriented. Communication between the owners, content writers, and other members on the tech team is important to making sure everyone works together well. I work closely with the tech lead to make sure that the user-facing designs I create work well with the content and back-end functions the rest of the team envision for this site.</p>
        </div>
        
        <div id="projects" class="frames-inside">
                <div class="frame projectscreenshot" id="bio">
                    <img src="/screenshotalliance.png" alt="alliance screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="/screenshotalliance2.png" alt="alliance screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="/screenshotalliance3.png" alt="alliance screenshot" style="width:100%;">
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="/screenshotalliance4.png" alt="alliance screenshot" style="width:100%;">
                </div>
        </div>

        </div>

    </body>

</html>
