<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>                    

                  <!-- <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li> -->
              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytexttwo">
                <h1>Nonprofit Organization's Website Redesign</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About This Project:</h1>
                
                <div id="projects" class="frames-inside">
                    <div class="frame" id="bio">
                        <img src="frame1.png" alt="golden frame" style="width:100%;">
                        <div class="frame-contents">
                            <a href="https://dcs-ri4d.onrender.com/" target="_blank">
                                <div id="contentsthree" class="contents">
                                <h2>Nonprofit Org Website Redesign</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <p class="aboutme">This project was made for a local non-profit organization.<br>
                The Denver Cycle Sluts are a comedy drag performance group who have been putting on performances to benefit various charities for decades. Their website is out of date and could use a new updated look and feel.<br><br>
                The goal for the project was to maintain the original playful look and feel, but update the site to have a cleaner and more user friendly design, with new features.<br><br>
                For the design, the new header utilizes CSS to make a bright and colorful look that responds to the size of the browser. The logo's new animation classes imported from the Animate.css library welcomes the user. To break up long sections of text, the site utilizes Daisy UI elements, such as carousels, cards, accordions, and colorful text bubbles.<br><br>
                To improve maintenance for the organization's members, new features were added. Email forms will help make the experience of applying to be a new performer or charity applicant easier and better organized. Additionally, a new admin login page will unlock the ability for people with access to use forms linked to a Prisma database to add or delete new event announcements, gallery photos, or people/organizations of honor directly to the site without needing to directly touch the code itself.
            </p>
        </div>
        
        <div id="projects" class="frames-inside">
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs4.png" alt="larp quiz screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs2.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs3.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs5.png" alt="larp quiz screenshot" style="width:100%;">
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs6.png" alt="larp quiz screenshot" style="width:100%;">
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotdcs7.png" alt="larp quiz screenshot" style="width:100%;">
                </div>


                    
                </div>
        </div>

        </div>

    </body>

</html>