<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.linkedin.com/in/rebekah-woolverton/" target="_blank" ><i class="fa-brands fa-linkedin" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>
                  <li class="menu-item"><a href="https://www.codecademy.com/profiles/Hlessirah" target="_blank" ><img class="cwlogo" src="codecademy-icon-sm.png" alt="codecademy" /></a></li>                    

                  <!-- <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li> -->
              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytexttwo">
                    <h1>Hello, <br> I'm Rebekah!</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About Me:</h1>
                <div class="rebekahpic"></div> 
                <p class="aboutme">I am a highly creative personality. My background is in the arts, service and food, and my passions lie in making wonderful things that people enjoy. <br><br> My experiences have taught me to think outside the box and find creative solutions to problems through persistence and hard work. <br><br> I have been studying coding with an emphasis on javascript, html, and css, and I am excited to put my new skills to use.</p>
        </div>
        
        <div id="projects" class="frames-inside">
            <div class="frame" id="bio">
                <img src="frame1.png" alt="golden frame" style="width:100%;">
                <div class="frame-contents">
                    <a href="/larpquiz">
                        <div id="contentsone" class="contents">
                        <h2>Fantasy Character Personality Quiz</h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="frame" id="bio">
                <img src="frame1.png" alt="golden frame" style="width:100%;">
                <div class="frame-contents">
                    <a href="/lovettinc">
                        <div id="contentstwo" class="contents">
                        <h2>Corporate Horror ARG Website</h2>
                        </div>
                    </a>    
                </div>
            </div>

            <div class="frame" id="bio">
                <img src="frame1.png" alt="golden frame" style="width:100%;">
                <div class="frame-contents">
                    <a href="/dcs">
                        <div id="contentsthree" class="contents">
                        <h2>Nonprofit Org Website Redesign</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </body>

</html>