<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>                    

                  <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li>
              </ul>
          </div>
      </header>
        <div id="bodytextone">
        <div id="bodytexttwo">
                <h1>Hello, <br> I'm Rebekah!</h1>
        </div>
</div>

        <div id="about" class="bodytext">
                <h1>About Me:</h1>
                <!-- <img id="rebekahpic" src="mepic.png" alt="rebekah"/> -->
                <!-- <div id="rebekahpic"></div> -->
                <div class="rebekahpic"></div> 
                <p class="aboutme">I am a highly creative personality. My background is in the arts, and my passions lie in making wonderful things that people enjoy. <br><br> My experiences have taught me to think outside the box and find creative solutions to problems through persistence and hard work. <br><br> I have been studying coding with an emphasis on javascript, html, and css, and I am excited to put my new skills to use.</p>
        </div>
        
        <div id="projects" class="frames-inside">
        <div class="frame" id="bio">
            <img src="frame1.png" alt="golden frame" style="width:100%;">
            <div class="frame-contents"></div>
            <a href="https://larpquiz.onrender.com/" target="_blank">
                <div id="contentsone" class="contents">
                <h2>Fantasy Character Personality Quiz</h2>
                </div>
            </a>
        </div>

        <div class="frame" id="bio">
            <img src="frame1.png" alt="golden frame" style="width:100%;">
            <div class="frame-contents"></div>
            <div id="contentstwo" class="contents">
                <h2>Corporate Horror ARG Website</h2>
            </div>
        </div>

        <div class="frame" id="bio">
            <img src="frame1.png" alt="golden frame" style="width:100%;">
            <div class="frame-contents"></div>
            <div class="contents">
                <h2>This is me!</h2>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Tellus cras adipiscing enim eu turpis egestas pretium. Venenatis lectus magna fringilla urna porttitor. Est lorem ipsum dolor sit amet consectetur adipiscing. Amet justo donec enim diam vulputate ut pharetra sit amet. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Quis blandit turpis cursus in hac habitasse platea. Morbi tincidunt augue interdum velit euismod in. Maecenas pharetra convallis posuere morbi leo urna. Nullam ac tortor vitae purus. Diam sit amet nisl suscipit adipiscing bibendum. Libero nunc consequat interdum varius. Ac ut consequat semper viverra nam libero justo. Quam nulla porttitor massa id. Augue lacus viverra vitae congue eu consequat ac felis donec. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus.

                    Nisl vel pretium lectus quam id leo in. Etiam erat velit scelerisque in dictum non. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Turpis egestas pretium aenean pharetra magna ac. Nisi scelerisque eu ultrices vitae auctor. Quis eleifend quam adipiscing vitae proin sagittis nisl. Volutpat blandit aliquam etiam erat velit scelerisque in. Faucibus in ornare quam viverra orci sagittis eu volutpat odio. Ornare arcu dui vivamus arcu. Mattis enim ut tellus elementum. Scelerisque fermentum dui faucibus in ornare. Porta non pulvinar neque laoreet suspendisse. Magna eget est lorem ipsum dolor. Et netus et malesuada fames ac.</h2>
            </div>
        </div>

        <div class="frame" id="bio">
            <img src="frame1.png" alt="golden frame" style="width:100%;">
            <div class="frame-contents"></div>
            <div class="contents">
                <h2>This is me!</h2>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Tellus cras adipiscing enim eu turpis egestas pretium. Venenatis lectus magna fringilla urna porttitor. Est lorem ipsum dolor sit amet consectetur adipiscing. Amet justo donec enim diam vulputate ut pharetra sit amet. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Quis blandit turpis cursus in hac habitasse platea. Morbi tincidunt augue interdum velit euismod in. Maecenas pharetra convallis posuere morbi leo urna. Nullam ac tortor vitae purus. Diam sit amet nisl suscipit adipiscing bibendum. Libero nunc consequat interdum varius. Ac ut consequat semper viverra nam libero justo. Quam nulla porttitor massa id. Augue lacus viverra vitae congue eu consequat ac felis donec. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus.

                    Nisl vel pretium lectus quam id leo in. Etiam erat velit scelerisque in dictum non. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Turpis egestas pretium aenean pharetra magna ac. Nisi scelerisque eu ultrices vitae auctor. Quis eleifend quam adipiscing vitae proin sagittis nisl. Volutpat blandit aliquam etiam erat velit scelerisque in. Faucibus in ornare quam viverra orci sagittis eu volutpat odio. Ornare arcu dui vivamus arcu. Mattis enim ut tellus elementum. Scelerisque fermentum dui faucibus in ornare. Porta non pulvinar neque laoreet suspendisse. Magna eget est lorem ipsum dolor. Et netus et malesuada fames ac.</h2>
            </div>
        </div>

    </div>

    </body>

</html>

<!-- w-full h-[calc(100vh-68px)] -->