<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>                    

                  <!-- <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li> -->
              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytexttwo">
                <h1>LARP Quiz</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About This Project:</h1>
                
                <div id="projects" class="frames-inside">
                    <div class="frame" id="bio">
                        <img src="frame1.png" alt="golden frame" style="width:100%;">
                        <div class="frame-contents">
                            <a href="https://larpquiz.onrender.com/" target="_blank">
                                <div id="contentsone" class="contents">
                                <h2>Fantasy Character Personality Quiz</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <p class="aboutme">This project was made to promote the Alliance Live-Action Role Playing Game system.<br><br>
                This game's ruleset offers a large variety of character types to choose from, which for new players, might be a bit daunting at first. In order to make this aspect of the game more accessible to new players, this page organizes the information and relevant links in visually appealing carousel menus, and includes a custom ten question personality quiz which produces a suggested character race and class based on the user's answers.<br><br>
                The design is made of adapted Tailwind elements taken from Daisy UI, stock images from Unsplash, and the site has been adapted for mobile users as well with the use of Tailwind size classes.<br><br>
                The quiz works as a form drawing from custom Javascript code. When each answer is selected, points are added or subtracted to different player races and classes, and based on the final score, the user is presented with a combination of one race and one class, except if certain conditions are met which produce the "NPC" result. Each result is accompanied by links to further descriptions and information.</p>
        </div>
        
        <div id="projects" class="frames-inside">
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotquiz2.png" alt="larp quiz screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotquiz3.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotquiz4.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotquiz5.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>
        </div>

        </div>

    </body>

</html>