<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>        
                  <li class="menu-item"><a href="https://www.codecademy.com/profiles/Hlessirah" target="_blank" ><img class="cwlogo" src="codecademy-icon-sm.png" alt="codecademy" /></a></li>                    
            

                  <!-- <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li> -->
              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytextthree">
                <h1>Horror-Themed ARG Website</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About This Project:</h1>
                
                <div id="projects" class="frames-inside">
                    <div class="frame" id="bio">
                        <img src="frame1.png" alt="golden frame" style="width:100%;">
                        <div class="frame-contents">
                            <a href="/lovettinc" target="_blank">
                                <div id="contentstwo" class="contents">
                                <h2>Corporate Horror ARG Website</h2>
                                </div>
                            </a>    
                        </div>
                    </div>
                </div>

                <p class="aboutme">This project is meant to be an interactive narrative experience modeled after horror ARG sites.<br><br>
                The entire site is written with a combination of HTML, CSS, and Javascript, without using outside components. In terms of design, it is meant to look like a normal corporate website for a large-scale bakery.<br><br>
                However, sinister clues hinting at a different purpose behind the bakery are hiding in various spots throughout the site.<br><br>
                </p>
                <ul>
                    <li><em>Animated rolling pies hide distorted images, cryptic videos, and threatening messages.</em></li>
                    <li><em>An alert in the error page hides messages from a mysterious person looking for answers.</em></li>
                    <li><em>A secret code hidden in the text contains the password to an employee-only page.</em></li>
                    <li><em>Ordering a certain type and amount of baked goods in the order form will send a sinister confirmation email.</em></li>
                </ul><br><br>
                <p class="aboutme">
                The project not only is an experiment in storytelling through website design and functionality, but it also practices skills in regards to Express, EJS, HTML/CSS, Prisma, password-protected content, and forms.
            </p>
        </div>
        
        <div id="projects" class="frames-inside">
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotlovett2.png" alt="larp quiz screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotlovett3.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotlovett4.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotlovett5.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

        </div>

        </div>

    </body>

</html>