<!DOCTYPE html>
<html>
    <head>
        <title>Rebekah Portfolio</title>
        <link rel="icon" type="image/x-icon" href="transparentivy-favicon.png">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mooli">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f5fa3b7691.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <!-- header -->
        <header>
          <a href="/" class="logo">Meet Rebekah</a>
          <div class="navigation">
              <ul class="menu">
                  <li class="menu-item"><a href = "mailto: hlessirah@gmail.com" target="_blank" ><i class="fa-regular fa-envelope" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://github.com/hlessirah" target="_blank" ><i class="fa-brands fa-github" style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.freecodecamp.org/hlessirah" target="_blank" ><i class="fa-brands fa-free-code-camp"  style="color: #dec63d;"></i></a></li>
                  <li class="menu-item"><a href="https://www.codewars.com/users/Hlessirah" target="_blank" ><img class="cwlogo" src="cwlogoyellow-removebg-sm.png" alt="codewars" /></a></li>     
                  <li class="menu-item"><a href="https://www.codecademy.com/profiles/Hlessirah" target="_blank" ><img class="cwlogo" src="codecademy-icon-sm.png" alt="codecademy" /></a></li>                    
               

                  <!-- <li class="menu-item">
                      <a href="#">Navigation</a>
                      <ul class="sub-menu">
                          <li class="sub-item"><a href="#bodytextone">Welcome</a></li>
                          <li class="sub-item"><a href="#about">About</a></li>
                          <li class="sub-item"><a href="#projects">Projects</a></li>
                      </ul>                        
                  </li> -->
              </ul>
          </div>
      </header>
        <div id="bodytextone">
            <div id="bodytextthree">
                <h1>Online Game Community Site</h1>
            </div>
        </div>

        <div id="about" class="bodytext">
                <h1>About This Project:</h1>
                
                <div id="projects" class="frames-inside">
                    <div class="frame" id="bio">
                        <img src="frame1.png" alt="golden frame" style="width:100%;">
                        <div class="frame-contents">
                            <a href="https://rumor-zrs3.onrender.com/" target="_blank">
                                <div id="contentsfive" class="contents">
                                <h2>Online Game Community Site</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <p class="aboutme">This project is being made for a small online roleplaying game called Rumor.<br><br>
                The site needed to both explain the setting of the game, as well as provide several different functions for both players and game admins. This project has been a lot of fun, since functionality and aesthetics are both important to the clients.<br><br>
                To represent and explain the game well, this site features a bold and eye-catching design, featuring a custom color scheme sampled from their logo, with bright colors against a black background to emulate a glowing neon cityscape feel. There is a custom bottom-oriented navbar with glowing buttons combined with a colorful city skyline, which creates more of an "in world" user experience. There are several components taken from Daisy UI, as well as reusable custom TSX components for different text sections, imported Google fonts, Tailwind styling, and CSS animations.<br><br>
                Additionally, the site utilizes a login function, which will allow players to access their existing characters and create new ones using forms linked to a Prisma database. Admins will be able to approve and edit players' characters and access player requests. Eventually, there will be additional custom features that will change the appearance of the site based on the status affects of a logged-in player's character, such as death, sanity level, etc.</p>
        </div>
        
        <div id="projects" class="frames-inside">
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotrumor2.png" alt="larp quiz screenshot" style="width:100%;">
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotrumor3.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>
    
                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotrumor4.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

                <div class="frame projectscreenshot" id="bio">
                    <img src="screenshotrumor5.png" alt="larp quiz screenshot" style="width:100%;">
                    
                </div>

                <div class="frame projectscreenshot" id="bio">
                  <img src="screenshotrumor6.png" alt="larp quiz screenshot" style="width:100%;">
                  
              </div>
        </div>

        </div>

    </body>

</html>