*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: 'Mooli';
}

html, body {
    height: 100%;
    overflow-y: auto;
}

body {
    background-image: url("backgroundwall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    width: 100%;
    padding-top: 70px;

    font-family: 'Mooli', serif;
}

h2 {
    color: antiquewhite;
}

#bodytextone {
    height: 100%;
    position: relative;
}

#bodytexttwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.bodytext {
    color: antiquewhite;
    margin-top: 30px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* margin-bottom: auto; */
    padding: 20px;
}

.rebekahpic {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 400px;
    border: goldenrod solid 5px;
    border-radius: 5%;
    aspect-ratio: 4 / 5;
    background-size: cover;
    background-image: url('mepic.png');
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.rebekahpic:hover {
    background-image: url('gownportrait.jpg');
}

.aboutme {
    width: 80%;
    margin: auto;
    font-size: large;
}

/* FRAME CONTENTS */
.frame-contents a {
    display: block;
    box-sizing: content-box;
}

.contents h2 {
    margin-left: auto;
    margin-right: auto;
}

#contentsone {
    background-image: url('screenshotquiz.png');
    background-size: cover;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    display: flex;
	flex-direction: row;
	align-items: center;
    text-shadow: 1px 1px 2px black;
}

#contentsone h2 {
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#contentsone:hover {
    opacity: 0.8;
}

#contentsone:hover h2 {
    opacity: 1
}

#contentstwo {
    background-image: url('screenshotlovett1.png');
    background-size: cover;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    display: flex;
	flex-direction: row;
	align-items: center;
    text-shadow: 1px 1px 2px black;
}

#contentstwo h2 {
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#contentstwo:hover {
    background-image: url('screenshotlovett2.png');
    opacity: 0.8;
}

#contentstwo:hover h2 {
    opacity: 1
}


#contentsthree {
    background-image: url('screenshotdcs.png');
    background-size: cover;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    display: flex;
	flex-direction: row;
	align-items: center;
    text-shadow: 1px 1px 2px black;
}

#contentsthree h2 {
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#contentsthree:hover {
    opacity: 0.8;
}

#contentsthree:hover h2 {
    opacity: 1
}


#contentsfour {
    background-image: url('screenshotalliance.png');
    background-size: cover;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    display: flex;
	flex-direction: row;
	align-items: center;
    text-shadow: 1px 1px 2px black;
}

#contentsfour h2 {
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#contentsfour:hover {
    opacity: 0.8;
}

#contentsfour:hover h2 {
    opacity: 1
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.frames-inside {
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.frame {
    position: relative;
    text-align: center;
    color: white;
    filter: drop-shadow(5px 14px 10px #000000);

    aspect-ratio: 4 / 3;
    max-width: 400px;
    max-height: 300px;
    }

.frame img {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.frame-contents {
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 67%;
    display: block;
    flex-direction: column;
    z-index: 4;
}

.contents {
    all: revert;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: lightcyan;
    margin: auto;
    /* overflow-y: scroll; */
    overflow-y: hidden;
}

h1 {
    font-family: sans-serif;
    color: antiquewhite;
}


/* dropdown menu */
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkred;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
}

/* header .logo-img {
    height: 60px;
}

header .logo-img:hover {
    animation: rotate 1.2s linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}  */

header .logo {
    color: white;
    font-size: 1.8;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation {
    position: relative;
    line-height: 75px;
}

header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 20px 0;
}

.menu-item > a:hover {
    color: lightseagreen;
    transition: 0.3s;
}

.menu-item .sub-menu {
    position: absolute;
    background: slategray;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(0);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
    transition: 0.3s;
}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.5);
}

.menu-item .sub-menu .sub-item a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
    background: lightseagreen;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.cwlogo {
    margin-top: 2px;
}

.projectscreenshot {
    border: solid goldenrod 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

li {
    list-style: none;
}